<body>
  <div style="text-align: center;">
<h3>Prijava:</h3>
<div class="form-container">
  <table>
    <tr>
      <td><div>Unesite staru lozinku:</div></td>
      <td><input type="password" value="old_password" [(ngModel)]="old_password"></td>
    </tr>
    <tr>
      <td><div>Unesite novu lozinku:</div></td>
      <td><input type="password" value="new_password" [(ngModel)]="new_password"></td>
    </tr>
    <tr>
      <td><div>Ponovite novu lozinku:</div></td>
      <td><input type="password" value="repeat_password" [(ngModel)]="repeat_password"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">
        <button (click)="changePassword()">Promeni lozinku</button>
      </td>
    </tr>
  </table>
</div>
<p>{{error_poruka}}</p>
</div>
</body>
